<!doctype html>
<html lang="en-US">

<head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <title>Email verification</title>
    <style type="text/css">
        a:hover {text-decoration: underline !important;}
    </style>
</head>

<body marginheight="0" topmargin="0" marginwidth="0" style="margin: 0px; background-color: #f2f3f8;" leftmargin="0">
    <!--100% body table-->
    <table cellspacing="0" border="0" cellpadding="0" width="100%" bgcolor="#f2f3f8"
        style="@import url(https://fonts.googleapis.com/css?family=Rubik:300,400,500,700|Open+Sans:300,400,600,700); font-family: 'Open Sans', sans-serif;">
        <tr>
            <td>
                <table style="background-color: #f2f3f8; max-width:670px;  margin:0 auto;" width="100%" border="0"
                    align="center" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td>
                            <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0"
                                style="max-width:670px;background:#fff; border-radius:3px; text-align:center;-webkit-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);-moz-box-shadow:0 6px 18px 0 rgba(0,0,0,.06);box-shadow:0 6px 18px 0 rgba(0,0,0,.06);">
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td style="padding:0 35px;">
                                        <h1 style="color:#1e1e2d; font-weight:500; margin:0;font-size:32px;font-family:'Rubik',sans-serif;">
                                            Email verification</h1>
                                        <span
                                            style="display:inline-block; vertical-align:middle; margin:29px 0 26px; border-bottom:1px solid #cecece; width:100px;"></span>
                                        <p style="color:#455056; font-size:15px;line-height:24px; margin:0;">
                                            Hello {{name}}!<br>
											Please verify your email to be able to login in site.<br>
											Then, you can use this email to reset your password too.
                                        </p>
										<p></br>
											If you don't verify your email, you'd not to be able to login.
										</p>
                                        <p></br>
                                            Click the button below to verify your email
										</p>

										<form action="http://{{HOST}}:{{PORT}}/{{app_base_url}}/{{ action }}" method="post">
										<input type="hidden" name="token" value="{{token}}" size ="40" />
										<input type="hidden" name="email" value="{{email}}" size ="40" />
										<input type="submit" value="Go!"
                                               style="width: 100%;
                                                    padding: 11px 40%;
                                                    color: #fff;
                                                    font-size: 15px;
                                                    font-weight: 600;
                                                    border: none;
                                                    border-radius: 100px 100px 100px 100px;
                                                    cursor: pointer;
                                                    box-shadow: 0px 8px 10px rgba(15, 15, 15, 0.19);
                                                    transition: all, 240ms ease-in-out;
                                                    background: rgb(3, 0, 36);
                                                    background: linear-gradient(
                                                        70deg,
                                                        rgba(97, 9, 121, 1) 18%,
                                                        rgba(0, 115, 255, 1) 100%
                                                    );"/>
										</form>

                                    </td>
                                </tr>
                                <tr>
                                    <td style="height:40px;">&nbsp;</td>
                                </tr>
                            </table>
                        </td>
                    <tr>
                        <td style="height:20px;">&nbsp;</td>
                    </tr>
                    <tr>
                        <td style="height:80px;">&nbsp;</td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
    <!--/100% body table-->
</body>

</html>